name: BRIDGE-7

on:
  push:
    branches: ["main"]

permissions:
  contents: read

env:
  TKE_REGISTRY_HOST: ccr.ccs.tencentyun.com
  TKE_IMAGE_REPO: ccr.ccs.tencentyun.com/demo/mywebapp
  TKE_REGION: ap-guangzhou
  TKE_CLUSTER_ID: cls-mywebapp
  DEPLOYMENT_NAME: test-tke

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t ${TKE_IMAGE_REPO}:${GITHUB_SHA} .

      - name: Login
        run: |
          echo "${{ secrets.TKE_REGISTRY_PASSWORD }}" | docker login ${TKE_REGISTRY_HOST} \
          -u "${{ secrets.TENCENT_CLOUD_ACCOUNT_ID }}" --password-stdin

      - name: Push image
        run: docker push ${TKE_IMAGE_REPO}:${GITHUB_SHA}
